.Landing-Page h5{
    background-color: #FFFFFF;
    color: #F16529;
    font-family: 'Hammersmith One', sans-serif;
    display: inline;
    padding: 2px 1.5rem;
}

.Landing-Page h1{
    font-size: 65px;
    font-family: 'Hammersmith One', sans-serif;
}

.Landing-Page-img{
    width: 650px;
    animation: image 4s;
}

.reactlogo{
    animation: act infinite 5s linear;
}

.git{
    transition: 1s;
}

.git:hover{
    padding: 0 0 2rem 0;
}

.email{
    transition: 1s;
}

.email:hover{
    padding: 0 0 2rem 0;
}

@keyframes act {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}


@keyframes image {
    0%{opacity: 0; transform: translatex(200px) ;}
    100%{transform: translatex(0px)}
}

