


.ProjectPage h5{
    font-size: 30px;
    font-family: 'Hammersmith One', sans-serif;
}


@media screen and (min-width: 890px) {
    .ProjectPage{
        margin: 0 2rem 0 6rem;
    }

    div .div{
        width: 40rem;
        
    }
}