.store-div{
    animation: store 3s;
}


@keyframes store{
    0%{opacity: 0; transform: translateY(500px);}
    100%{transform: translateY(0px);}
}

.pad:hover{
    animation: pad 1s;
}

@keyframes pad {
    0%{ color: black;}
    100%{ color: bisque;}
}

@media screen and (min-width: 890px) {
    div .div{
        width: 40rem;       
    }
}
